# ==========================
# Vagrant
# ==========================
.vagrant/

# ==========================
# VMware
# ==========================
*.vmdk
*.vmsd
*.vmxf
*.nvram
*.vmem
*.lck

# ==========================
# Docker
# ==========================
docker-data/
*.tar

# ==========================
# Node.js
# ==========================
node_modules/
npm-debug.log

# ==========================
# Logs
# ==========================
*.log

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# VS Code
# ==========================
.vscode/